.order {
	&__application {
		margin-top: 40px;
		&__title {
			color: var(--d, #171717);
			font-family: Open Sans;
			font-size: 26px;
			font-style: normal;
			font-weight: 600;
			line-height: 150%;
		}
		&__items {
			margin-top: 20px;
			display: flex;
			img {
				margin-right: 25px;
			}
		}
	}
}
