.radio {
	display: flex;
	align-items: center;
	margin-bottom: 26px;
	&__button {
		background: none;
		border: none;
		cursor: pointer;
	}
	&__label {
		display: flex;
		align-items: center;
		&__title {
			color: var(--d, #171717);
			font-family: Open Sans;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			margin-left: 15px;
			line-height: 150%; /* 30px */
		}
		&__input {
			display: none;
		}
		&__fake {
			display: inline-block;
			border-radius: 50%;
			border: 1px solid var(--light-grey, #d1d1d1);
			width: 24px;
			height: 24px;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				border-radius: 50%;
				display: block;
				transform: translate(-50%, -50%);
				width: 10px;
				background-color: #026bcb;
				height: 10px;
				opacity: 0;
				transition: 0.2s;
			}
		}
		&__input:checked + &__fake::before {
			opacity: 1;
		}
	}
}
