.order {
	&__desc {
		margin-top: 40px;
		max-width: 909px;
		width: 100%;
		color: var(--d, #171717);
		font-family: Open Sans;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}
}
